In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_theme()

In [25]:
# Création des différents DataFrames
tournaments = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/1_tournaments/tournaments_2000_2022.csv', index_col=0).reset_index()
match_scores = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/2_match_scores/match_scores_2000_2022.csv', index_col=0).reset_index()
match_stats = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2000_2022.csv', index_col=0).reset_index()
kaggledata = pd.read_csv('tennis/atp_data.csv')
odds_data = pd.read_csv('Sources/tennis-data.co.uk-with-odds/odds_data_2000_2022.csv', index_col=0).reset_index()

D:\TEMP\ipykernel_7044\3730307077.py:3: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  match_scores = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/2_match_scores/match_scores_2000_2022.csv', index_col=0).reset_index()
D:\TEMP\ipykernel_7044\3730307077.py:6: DtypeWarning: Columns (12,13,16,17,18,19,39) have mixed types. Specify dtype option on import or set low_memory=False.
  odds_data = pd.read_csv('Sources/tennis-data.co.uk-with-odds/odds_data_2000_2022.csv', index_col=0).reset_index()

In [ ]:
# drop de la colonne index
tournaments = tournaments.drop('index', axis=1)
match_scores = match_scores.drop('index', axis=1)
match_stats = match_stats.drop('index', axis=1)
odds_data = odds_data.drop('index', axis=1)

Liaison tournaments et match_scores:

In [31]:
tournaments.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1573 entries, 0 to 1572
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tourney_year_id               1573 non-null   object
 1   tourney_order                 1573 non-null   int64
 2   tourney_type                  1076 non-null   object
 3   tourney_name                  1573 non-null   object
 4   tourney_id                    1573 non-null   int64
 5   tourney_slug                  1573 non-null   object
 6   tourney_location              1562 non-null   object
 7   tourney_date                  1573 non-null   object
 8   year                          1573 non-null   int64
 9   tourney_month                 1573 non-null   int64
 10  tourney_day                   1573 non-null   int64
 11  tourney_singles_draw          1573 non-null   int64
 12  tourney_doubles_draw          1573 non-null   int64
 13  tourney_conditions            1573 non-null   object
 14  tourney_surface               1573 non-null   object
 15  tourney_fin_commit_raw        1546 non-null   object
 16  currency                      1546 non-null   object
 17  tourney_fin_commit            1546 non-null   float64
 18  tourney_url_suffix            1573 non-null   object
 19  singles_winner_name           1507 non-null   object
 20  singles_winner_url            1507 non-null   object
 21  singles_winner_player_slug    1507 non-null   object
 22  singles_winner_player_id      1507 non-null   object
 23  doubles_winner_1_name         1502 non-null   object
 24  doubles_winner_1_url          1502 non-null   object
 25  doubles_winner_1_player_slug  1502 non-null   object
 26  doubles_winner_1_player_id    1502 non-null   object
 27  doubles_winner_2_name         1502 non-null   object
 28  doubles_winner_2_url          1502 non-null   object
 29  doubles_winner_2_player_slug  1502 non-null   object
 30  doubles_winner_2_player_id    1502 non-null   object
dtypes: float64(1), int64(7), object(23)
memory usage: 381.1+ KB

In [32]:
match_scores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86771 entries, 0 to 86770
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tourney_year_id         86771 non-null  object
 1   tourney_order           86771 non-null  int64
 2   tourney_name            86771 non-null  object
 3   tourney_slug            86771 non-null  object
 4   tourney_url_suffix      86771 non-null  object
 5   start_date              86159 non-null  object
 6   start_year              86159 non-null  float64
 7   start_month             86159 non-null  float64
 8   start_day               86159 non-null  float64
 9   end_date                86159 non-null  object
 10  end_year                86159 non-null  float64
 11  end_month               86159 non-null  float64
 12  end_day                 86159 non-null  float64
 13  currency                86159 non-null  object
 14  prize_money             86159 non-null  float64
 15  match_index             83429 non-null  object
 16  tourney_round_name      86771 non-null  object
 17  round_order             86771 non-null  int64
 18  match_order             86771 non-null  int64
 19  winner_name             86771 non-null  object
 20  winner_player_id        86771 non-null  object
 21  winner_slug             86771 non-null  object
 22  loser_name              86771 non-null  object
 23  loser_player_id         86771 non-null  object
 24  loser_slug              86771 non-null  object
 25  winner_seed             51853 non-null  object
 26  loser_seed              41225 non-null  object
 27  match_score_tiebreaks   86771 non-null  object
 28  winner_sets_won         86365 non-null  float64
 29  loser_sets_won          86365 non-null  float64
 30  winner_games_won        86365 non-null  float64
 31  loser_games_won         86365 non-null  float64
 32  winner_tiebreaks_won    86365 non-null  float64
 33  loser_tiebreaks_won     86365 non-null  float64
 34  match_id                86771 non-null  object
 35  match_stats_url_suffix  83429 non-null  object
dtypes: float64(13), int64(3), object(20)
memory usage: 23.8+ MB

In [33]:
print(tournaments)

     tourney_year_id  tourney_order     tourney_type  \
0           2000-451              1              NaN
1           2000-891              2              NaN
2          2000-7308              3              NaN
3           2000-301              4              NaN
4           2000-338              5              NaN
...              ...            ...              ...
1568        2022-337             67          ATP 500
1569        2022-328             68          ATP 500
1570        2022-352             69     Masters 1000
1571       2022-7696             70  Next Gen Finals
1572        2022-605             71       ATP Finals

                             tourney_name  tourney_id  \
0                                    Doha         451
1                                 Chennai         891
2                                Adelaide        7308
3                                Auckland         301
4                                  Sydney         338
...                                   ...         ...
1568                      Erste Bank Open         337
1569                  Swiss Indoors Basel         328
1570                  Rolex Paris Masters         352
1571  Intesa Sanpaolo Next Gen ATP Finals        7696
1572                     Nitto ATP Finals         605

                             tourney_slug    tourney_location tourney_date  \
0                                    doha                Doha   2000.01.03
1                                 chennai             Chennai   2000.01.03
2                                adelaide            Adelaide   2000.01.03
3                                auckland            Auckland   2000.01.10
4                                  sydney              Sydney   2000.01.10
...                                   ...                 ...          ...
1568                               vienna     Vienna, Austria   2022.10.24
1569                                basel  Basel, Switzerland   2022.10.24
1570                                paris       Paris, France   2022.10.31
1571  intesa-sanpaolo-next-gen-atp-finals        Milan, Italy   2022.11.08
1572                     nitto-atp-finals        Turin, Italy   2022.11.13

      year  tourney_month  ...  singles_winner_player_slug  \
0     2000              1  ...             fabrice-santoro
1     2000              1  ...              jerome-golmard
2     2000              1  ...              lleyton-hewitt
3     2000              1  ...               magnus-norman
4     2000              1  ...              lleyton-hewitt
...    ...            ...  ...                         ...
1568  2022             10  ...             daniil-medvedev
1569  2022             10  ...       felix-auger-aliassime
1570  2022             10  ...                 holger-rune
1571  2022             11  ...                         NaN
1572  2022             11  ...                         NaN

      singles_winner_player_id  doubles_winner_1_name  \
0                         s424           Mark Knowles
1                         g319         Julien Boutter
2                         h432         Mark Woodforde
3                         n250         Ellis Ferreira
4                         h432         Mark Woodforde
...                        ...                    ...
1568                      mm58        Alexander Erler
1569                      ag37             Ivan Dodig
1570                      r0dg         Wesley Koolhof
1571                       NaN                    NaN
1572                       NaN                    NaN

                           doubles_winner_1_url doubles_winner_1_player_slug  \
0        /en/players/mark-knowles/k171/overview                 mark-knowles
1      /en/players/julien-boutter/b599/overview               julien-boutter
2      /en/players/mark-woodforde/w035/overview               mark-woodforde
3      /en/players/ellis-ferreira/f185/overview               ellis-ferreira
4      /en/players/mark-woodforde/w035/overview               mark-woodforde
...                                         ...                          ...
1568  /en/players/alexander-erler/e928/overview              alexander-erler
1569       /en/players/ivan-dodig/d646/overview                   ivan-dodig
1570   /en/players/wesley-koolhof/kc41/overview               wesley-koolhof
1571                                        NaN                          NaN
1572                                        NaN                          NaN

     doubles_winner_1_player_id doubles_winner_2_name  \
0                          k171            Max Mirnyi
1                          b599     Christophe Rochus
2                          w035       Todd Woodbridge
3                          f185            Rick Leach
4                          w035       Todd Woodbridge
...                         ...                   ...
1568                       e928         Lucas Miedler
1569                       d646       Austin Krajicek
1570                       kc41          Neal Skupski
1571                        NaN                   NaN
1572                        NaN                   NaN

                             doubles_winner_2_url  \
0            /en/players/max-mirnyi/m595/overview
1     /en/players/christophe-rochus/r336/overview
2       /en/players/todd-woodbridge/w136/overview
3            /en/players/rick-leach/l013/overview
4       /en/players/todd-woodbridge/w136/overview
...                                           ...
1568      /en/players/lucas-miedler/mo55/overview
1569    /en/players/austin-krajicek/ka00/overview
1570       /en/players/neal-skupski/sl22/overview
1571                                          NaN
1572                                          NaN

     doubles_winner_2_player_slug doubles_winner_2_player_id
0                      max-mirnyi                       m595
1               christophe-rochus                       r336
2                 todd-woodbridge                       w136
3                      rick-leach                       l013
4                 todd-woodbridge                       w136
...                           ...                        ...
1568                lucas-miedler                       mo55
1569              austin-krajicek                       ka00
1570                 neal-skupski                       sl22
1571                          NaN                        NaN
1572                          NaN                        NaN

[1573 rows x 31 columns]

In [34]:
tournaments['tourney_year_id'].value_counts()

2000-451    1
2015-314    1
2015-414    1
2015-439    1
2015-316    1
           ..
2007-315    1
2007-316    1
2007-314    1
2007-540    1
2022-605    1
Name: tourney_year_id, Length: 1573, dtype: int64

In [35]:
match_scores['tourney_year_id'].value_counts()

2021-540     239
2014-540     239
2019-540     239
2019-520     239
2012-540     239
            ...
2002-605      15
2020-605      15
2001-605      15
2021-7696     15
2022-605       2
Name: tourney_year_id, Length: 1509, dtype: int64

In [48]:
mergetest = match_scores.merge(tournaments, on='tourney_year_id', how='inner')

In [51]:
mergetest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86771 entries, 0 to 86770
Data columns (total 66 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tourney_year_id               86771 non-null  object
 1   tourney_order_x               86771 non-null  int64
 2   tourney_name_x                86771 non-null  object
 3   tourney_slug_x                86771 non-null  object
 4   tourney_url_suffix_x          86771 non-null  object
 5   start_date                    86159 non-null  object
 6   start_year                    86159 non-null  float64
 7   start_month                   86159 non-null  float64
 8   start_day                     86159 non-null  float64
 9   end_date                      86159 non-null  object
 10  end_year                      86159 non-null  float64
 11  end_month                     86159 non-null  float64
 12  end_day                       86159 non-null  float64
 13  currency_x                    86159 non-null  object
 14  prize_money                   86159 non-null  float64
 15  match_index                   83429 non-null  object
 16  tourney_round_name            86771 non-null  object
 17  round_order                   86771 non-null  int64
 18  match_order                   86771 non-null  int64
 19  winner_name                   86771 non-null  object
 20  winner_player_id              86771 non-null  object
 21  winner_slug                   86771 non-null  object
 22  loser_name                    86771 non-null  object
 23  loser_player_id               86771 non-null  object
 24  loser_slug                    86771 non-null  object
 25  winner_seed                   51853 non-null  object
 26  loser_seed                    41225 non-null  object
 27  match_score_tiebreaks         86771 non-null  object
 28  winner_sets_won               86365 non-null  float64
 29  loser_sets_won                86365 non-null  float64
 30  winner_games_won              86365 non-null  float64
 31  loser_games_won               86365 non-null  float64
 32  winner_tiebreaks_won          86365 non-null  float64
 33  loser_tiebreaks_won           86365 non-null  float64
 34  match_id                      86771 non-null  object
 35  match_stats_url_suffix        83429 non-null  object
 36  tourney_order_y               86771 non-null  int64
 37  tourney_type                  67959 non-null  object
 38  tourney_name_y                86771 non-null  object
 39  tourney_id                    86771 non-null  int64
 40  tourney_slug_y                86771 non-null  object
 41  tourney_location              86606 non-null  object
 42  tourney_date                  86771 non-null  object
 43  year                          86771 non-null  int64
 44  tourney_month                 86771 non-null  int64
 45  tourney_day                   86771 non-null  int64
 46  tourney_singles_draw          86771 non-null  int64
 47  tourney_doubles_draw          86771 non-null  int64
 48  tourney_conditions            86771 non-null  object
 49  tourney_surface               86771 non-null  object
 50  tourney_fin_commit_raw        86387 non-null  object
 51  currency_y                    86387 non-null  object
 52  tourney_fin_commit            86387 non-null  float64
 53  tourney_url_suffix_y          86771 non-null  object
 54  singles_winner_name           86728 non-null  object
 55  singles_winner_url            86728 non-null  object
 56  singles_winner_player_slug    86728 non-null  object
 57  singles_winner_player_id      86728 non-null  object
 58  doubles_winner_1_name         86621 non-null  object
 59  doubles_winner_1_url          86621 non-null  object
 60  doubles_winner_1_player_slug  86621 non-null  object
 61  doubles_winner_1_player_id    86621 non-null  object
 62  doubles_winner_2_name         86621 non-null  object
 63  doubles_winner_2_url          86621 non-null  object
 64  doubles_winner_2_player_slug  86621 non-null  object
 65  doubles_winner_2_player_id    86621 non-null  object
dtypes: float64(14), int64(10), object(42)
memory usage: 44.4+ MB

In [52]:
mergetest.tourney_order_x == mergetest.tourney_order_y

0        True
1        True
2        True
3        True
4        True
         ...
86766    True
86767    True
86768    True
86769    True
86770    True
Length: 86771, dtype: bool

In [55]:
# On vérifie bien que les colonnes dupliquées sont identiques
print((mergetest.tourney_order_x != mergetest.tourney_order_y).sum())
print((mergetest.tourney_name_x != mergetest.tourney_name_y).sum())
print((mergetest.tourney_slug_x != mergetest.tourney_slug_y).sum())
print((mergetest.tourney_url_suffix_x != mergetest.tourney_url_suffix_y).sum())
print((mergetest.currency_x != mergetest.currency_y).sum())

0
0
0
0
1650

In [60]:
mergetest[mergetest.currency_x != mergetest.currency_y][['currency_x', 'currency_y', 'match_id']]

      currency_x currency_y                      match_id
406          NaN        USD  2000-402-MS001-6-1-l206-b397
407          NaN        USD  2000-402-MS003-5-2-b397-h355
408          NaN        USD  2000-402-MS002-5-1-l206-s604
409          NaN        USD  2000-402-MS007-4-4-h355-f196
410          NaN        USD  2000-402-MS006-4-3-b397-c274
...          ...        ...                           ...
81630        USD        NaN    2021-96-NULL-1-5-m0fh-sh90
81631        USD        NaN    2021-96-NULL-1-4-mh30-m0ej
81632        USD        NaN    2021-96-NULL-1-3-n897-i165
81633        USD        NaN    2021-96-NULL-1-2-sl28-mj08
81634        USD        NaN    2021-96-NULL-1-1-td51-kf17

[1650 rows x 3 columns]

In [59]:
mergetest.currency_x.value_counts()

USD    51966
EUR    27198
AUD     3585
GBP     3410
Name: currency_x, dtype: int64

In [61]:
print(mergetest.columns)

Index(['tourney_year_id', 'tourney_order_x', 'tourney_name_x',
       'tourney_slug_x', 'tourney_url_suffix_x', 'start_date', 'start_year',
       'start_month', 'start_day', 'end_date', 'end_year', 'end_month',
       'end_day', 'currency_x', 'prize_money', 'match_index',
       'tourney_round_name', 'round_order', 'match_order', 'winner_name',
       'winner_player_id', 'winner_slug', 'loser_name', 'loser_player_id',
       'loser_slug', 'winner_seed', 'loser_seed', 'match_score_tiebreaks',
       'winner_sets_won', 'loser_sets_won', 'winner_games_won',
       'loser_games_won', 'winner_tiebreaks_won', 'loser_tiebreaks_won',
       'match_id', 'match_stats_url_suffix', 'tourney_order_y', 'tourney_type',
       'tourney_name_y', 'tourney_id', 'tourney_slug_y', 'tourney_location',
       'tourney_date', 'year', 'tourney_month', 'tourney_day',
       'tourney_singles_draw', 'tourney_doubles_draw', 'tourney_conditions',
       'tourney_surface', 'tourney_fin_commit_raw', 'currency_y',
       'tourney_fin_commit', 'tourney_url_suffix_y', 'singles_winner_name',
       'singles_winner_url', 'singles_winner_player_slug',
       'singles_winner_player_id', 'doubles_winner_1_name',
       'doubles_winner_1_url', 'doubles_winner_1_player_slug',
       'doubles_winner_1_player_id', 'doubles_winner_2_name',
       'doubles_winner_2_url', 'doubles_winner_2_player_slug',
       'doubles_winner_2_player_id'],
      dtype='object')

In [110]:
# 1er nettoyage de mergetest
col_to_drop = ['doubles_winner_1_url', 'doubles_winner_1_player_slug',
       'doubles_winner_1_player_id', 'doubles_winner_2_name',
       'doubles_winner_2_url', 'doubles_winner_2_player_slug',
       'doubles_winner_2_player_id', 'tourney_order_x', 'tourney_slug_x', 'tourney_url_suffix_x', 'start_year',
       'start_month', 'start_day', 'end_year', 'end_month',
       'end_day', 'match_index', 'winner_player_id', 'winner_slug', 'loser_player_id',
       'loser_slug', 'tourney_order_y', 'tourney_name_y', 'tourney_slug_y', 'year', 'tourney_month', 'tourney_day',
       'tourney_singles_draw', 'tourney_doubles_draw', 'tourney_fin_commit_raw', 'tourney_url_suffix_y', 'singles_winner_url', 'singles_winner_player_slug',
       'singles_winner_player_id']

In [109]:
mergetest = mergetest.drop(col_to_drop, axis=1)

KeyError: "['doubles_winner_1_url', 'doubles_winner_1_player_slug', 'doubles_winner_1_player_id', 'doubles_winner_2_name', 'doubles_winner_2_url', 'doubles_winner_2_player_slug', 'doubles_winner_2_player_id', 'tourney_order_x', 'tourney_slug_x', 'tourney_url_suffix_x', 'start_year', 'start_month', 'start_day', 'end_year', 'end_month', 'end_day', 'match_index', 'winner_player_id', 'winner_slug', 'loser_player_id', 'loser_slug', 'tourney_order_y', 'tourney_name_y', 'tourney_slug_y', 'year', 'tourney_month', 'tourney_day', 'tourney_singles_draw', 'tourney_doubles_draw', 'tourney_fin_commit_raw', 'tourney_url_suffix_y', 'singles_winner_url', 'singles_winner_player_slug', 'singles_winner_player_id'] not found in axis"

In [82]:
df = mergetest.groupby('winner_name').agg({'winner_player_id':'unique'})

In [89]:
df.iloc[0].shape[0] == 1

True

In [95]:
len(df.iloc[0])

1

In [100]:
df.winner_player_id.value_counts()

[v812]    2
[v942]    2
[c660]    1
[k319]    1
[sg78]    1
         ..
[a704]    1
[z0a1]    1
[l430]    1
[g334]    1
[p09o]    1
Name: winner_player_id, Length: 1853, dtype: int64

In [107]:
mergetest.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86771 entries, 0 to 86770
Data columns (total 32 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tourney_year_id         86771 non-null  object
 1   tourney_name_x          86771 non-null  object
 2   start_date              86159 non-null  object
 3   end_date                86159 non-null  object
 4   currency_x              86159 non-null  object
 5   prize_money             86159 non-null  float64
 6   tourney_round_name      86771 non-null  object
 7   round_order             86771 non-null  int64
 8   match_order             86771 non-null  int64
 9   winner_name             86771 non-null  object
 10  loser_name              86771 non-null  object
 11  winner_seed             51853 non-null  object
 12  loser_seed              41225 non-null  object
 13  match_score_tiebreaks   86771 non-null  object
 14  winner_sets_won         86365 non-null  float64
 15  loser_sets_won          86365 non-null  float64
 16  winner_games_won        86365 non-null  float64
 17  loser_games_won         86365 non-null  float64
 18  winner_tiebreaks_won    86365 non-null  float64
 19  loser_tiebreaks_won     86365 non-null  float64
 20  match_id                86771 non-null  object
 21  match_stats_url_suffix  83429 non-null  object
 22  tourney_type            67959 non-null  object
 23  tourney_id              86771 non-null  int64
 24  tourney_location        86606 non-null  object
 25  tourney_date            86771 non-null  object
 26  tourney_conditions      86771 non-null  object
 27  tourney_surface         86771 non-null  object
 28  currency_y              86387 non-null  object
 29  tourney_fin_commit      86387 non-null  float64
 30  singles_winner_name     86728 non-null  object
 31  doubles_winner_1_name   86621 non-null  object
dtypes: float64(8), int64(3), object(21)
memory usage: 21.8+ MB

In [111]:
match_stats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83429 entries, 0 to 83428
Data columns (total 59 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   match_id                          83429 non-null  object
 1   tourney_slug                      83429 non-null  object
 2   match_stats_url_suffix            83429 non-null  object
 3   match_time                        78064 non-null  object
 4   match_duration                    78064 non-null  float64
 5   winner_slug                       78064 non-null  object
 6   winner_serve_rating               74785 non-null  float64
 7   winner_aces                       74785 non-null  float64
 8   winner_double_faults              74785 non-null  float64
 9   winner_first_serves_in            74785 non-null  float64
 10  winner_first_serves_total         74785 non-null  float64
 11  winner_first_serve_points_won     74785 non-null  float64
 12  winner_first_serve_points_total   74785 non-null  float64
 13  winner_second_serve_points_won    74785 non-null  float64
 14  winner_second_serve_points_total  74785 non-null  float64
 15  winner_break_points_saved         74785 non-null  float64
 16  winner_break_points_serve_total   74785 non-null  float64
 17  winner_service_games_played       74785 non-null  float64
 18  winner_return_rating              74785 non-null  float64
 19  winner_first_serve_return_won     74785 non-null  float64
 20  winner_first_serve_return_total   74785 non-null  float64
 21  winner_second_serve_return_won    74785 non-null  float64
 22  winner_second_serve_return_total  74785 non-null  float64
 23  winner_break_points_converted     74785 non-null  float64
 24  winner_break_points_return_total  74785 non-null  float64
 25  winner_return_games_played        74785 non-null  float64
 26  winner_service_points_won         74785 non-null  float64
 27  winner_service_points_total       74785 non-null  float64
 28  winner_return_points_won          74785 non-null  float64
 29  winner_return_points_total        74785 non-null  float64
 30  winner_total_points_won           74785 non-null  float64
 31  winner_total_points_total         74785 non-null  float64
 32  loser_slug                        78064 non-null  object
 33  loser_serve_rating                74785 non-null  float64
 34  loser_aces                        74785 non-null  float64
 35  loser_double_faults               74785 non-null  float64
 36  loser_first_serves_in             74785 non-null  float64
 37  loser_first_serves_total          74785 non-null  float64
 38  loser_first_serve_points_won      74785 non-null  float64
 39  loser_first_serve_points_total    74785 non-null  float64
 40  loser_second_serve_points_won     74785 non-null  float64
 41  loser_second_serve_points_total   74785 non-null  float64
 42  loser_break_points_saved          74785 non-null  float64
 43  loser_break_points_serve_total    74785 non-null  float64
 44  loser_service_games_played        74785 non-null  float64
 45  loser_return_rating               74785 non-null  float64
 46  loser_first_serve_return_won      74785 non-null  float64
 47  loser_first_serve_return_total    74785 non-null  float64
 48  loser_second_serve_return_won     74785 non-null  float64
 49  loser_second_serve_return_total   74785 non-null  float64
 50  loser_break_points_converted      74785 non-null  float64
 51  loser_break_points_return_total   74785 non-null  float64
 52  loser_return_games_played         74785 non-null  float64
 53  loser_service_points_won          74785 non-null  float64
 54  loser_service_points_total        74785 non-null  float64
 55  loser_return_points_won           74785 non-null  float64
 56  loser_return_points_total         74785 non-null  float64
 57  loser_total_points_won            74785 non-null  float64
 58  loser_total_points_total          74785 non-null  float64
dtypes: float64(53), object(6)
memory usage: 37.6+ MB

In [113]:
match_stats = match_stats.dropna()

In [114]:
datasets_without_odds = match_stats.merge(mergetest, on='match_id', how='inner')

In [116]:
datasets_without_odds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 74757 entries, 0 to 74756
Data columns (total 90 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   match_id                          74757 non-null  object
 1   tourney_slug                      74757 non-null  object
 2   match_stats_url_suffix_x          74757 non-null  object
 3   match_time                        74757 non-null  object
 4   match_duration                    74757 non-null  float64
 5   winner_slug                       74757 non-null  object
 6   winner_serve_rating               74757 non-null  float64
 7   winner_aces                       74757 non-null  float64
 8   winner_double_faults              74757 non-null  float64
 9   winner_first_serves_in            74757 non-null  float64
 10  winner_first_serves_total         74757 non-null  float64
 11  winner_first_serve_points_won     74757 non-null  float64
 12  winner_first_serve_points_total   74757 non-null  float64
 13  winner_second_serve_points_won    74757 non-null  float64
 14  winner_second_serve_points_total  74757 non-null  float64
 15  winner_break_points_saved         74757 non-null  float64
 16  winner_break_points_serve_total   74757 non-null  float64
 17  winner_service_games_played       74757 non-null  float64
 18  winner_return_rating              74757 non-null  float64
 19  winner_first_serve_return_won     74757 non-null  float64
 20  winner_first_serve_return_total   74757 non-null  float64
 21  winner_second_serve_return_won    74757 non-null  float64
 22  winner_second_serve_return_total  74757 non-null  float64
 23  winner_break_points_converted     74757 non-null  float64
 24  winner_break_points_return_total  74757 non-null  float64
 25  winner_return_games_played        74757 non-null  float64
 26  winner_service_points_won         74757 non-null  float64
 27  winner_service_points_total       74757 non-null  float64
 28  winner_return_points_won          74757 non-null  float64
 29  winner_return_points_total        74757 non-null  float64
 30  winner_total_points_won           74757 non-null  float64
 31  winner_total_points_total         74757 non-null  float64
 32  loser_slug                        74757 non-null  object
 33  loser_serve_rating                74757 non-null  float64
 34  loser_aces                        74757 non-null  float64
 35  loser_double_faults               74757 non-null  float64
 36  loser_first_serves_in             74757 non-null  float64
 37  loser_first_serves_total          74757 non-null  float64
 38  loser_first_serve_points_won      74757 non-null  float64
 39  loser_first_serve_points_total    74757 non-null  float64
 40  loser_second_serve_points_won     74757 non-null  float64
 41  loser_second_serve_points_total   74757 non-null  float64
 42  loser_break_points_saved          74757 non-null  float64
 43  loser_break_points_serve_total    74757 non-null  float64
 44  loser_service_games_played        74757 non-null  float64
 45  loser_return_rating               74757 non-null  float64
 46  loser_first_serve_return_won      74757 non-null  float64
 47  loser_first_serve_return_total    74757 non-null  float64
 48  loser_second_serve_return_won     74757 non-null  float64
 49  loser_second_serve_return_total   74757 non-null  float64
 50  loser_break_points_converted      74757 non-null  float64
 51  loser_break_points_return_total   74757 non-null  float64
 52  loser_return_games_played         74757 non-null  float64
 53  loser_service_points_won          74757 non-null  float64
 54  loser_service_points_total        74757 non-null  float64
 55  loser_return_points_won           74757 non-null  float64
 56  loser_return_points_total         74757 non-null  float64
 57  loser_total_points_won            74757 non-null  float64
 58  loser_total_points_total          74757 non-null  float64
 59  tourney_year_id                   74757 non-null  object
 60  tourney_name_x                    74757 non-null  object
 61  start_date                        74148 non-null  object
 62  end_date                          74148 non-null  object
 63  currency_x                        74148 non-null  object
 64  prize_money                       74148 non-null  float64
 65  tourney_round_name                74757 non-null  object
 66  round_order                       74757 non-null  int64
 67  match_order                       74757 non-null  int64
 68  winner_name                       74757 non-null  object
 69  loser_name                        74757 non-null  object
 70  winner_seed                       44638 non-null  object
 71  loser_seed                        35275 non-null  object
 72  match_score_tiebreaks             74757 non-null  object
 73  winner_sets_won                   74756 non-null  float64
 74  loser_sets_won                    74756 non-null  float64
 75  winner_games_won                  74756 non-null  float64
 76  loser_games_won                   74756 non-null  float64
 77  winner_tiebreaks_won              74756 non-null  float64
 78  loser_tiebreaks_won               74756 non-null  float64
 79  match_stats_url_suffix_y          74757 non-null  object
 80  tourney_type                      57231 non-null  object
 81  tourney_id                        74757 non-null  int64
 82  tourney_location                  74676 non-null  object
 83  tourney_date                      74757 non-null  object
 84  tourney_conditions                74757 non-null  object
 85  tourney_surface                   74757 non-null  object
 86  currency_y                        74568 non-null  object
 87  tourney_fin_commit                74568 non-null  float64
 88  singles_winner_name               74757 non-null  object
 89  doubles_winner_1_name             74708 non-null  object
dtypes: float64(61), int64(3), object(26)
memory usage: 51.9+ MB