In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set_theme()

In [2]:
tournaments_2000_2009 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/1_tournaments/tournaments_2000-2009.csv', header=None)

In [3]:
tournaments_2000_2009.head()

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,2000-451,1,NaN,Doha,451,doha,Doha,2000.01.03,2000,1,...,fabrice-santoro,s424,Mark Knowles,/en/players/mark-knowles/k171/overview,mark-knowles,k171,Max Mirnyi,/en/players/max-mirnyi/m595/overview,max-mirnyi,m595
1,2000-891,2,NaN,Chennai,891,chennai,Chennai,2000.01.03,2000,1,...,jerome-golmard,g319,Julien Boutter,/en/players/julien-boutter/b599/overview,julien-boutter,b599,Christophe Rochus,/en/players/christophe-rochus/r336/overview,christophe-rochus,r336
2,2000-7308,3,NaN,Adelaide,7308,adelaide,Adelaide,2000.01.03,2000,1,...,lleyton-hewitt,h432,Mark Woodforde,/en/players/mark-woodforde/w035/overview,mark-woodforde,w035,Todd Woodbridge,/en/players/todd-woodbridge/w136/overview,todd-woodbridge,w136
3,2000-301,4,NaN,Auckland,301,auckland,Auckland,2000.01.10,2000,1,...,magnus-norman,n250,Ellis Ferreira,/en/players/ellis-ferreira/f185/overview,ellis-ferreira,f185,Rick Leach,/en/players/rick-leach/l013/overview,rick-leach,l013
4,2000-338,5,NaN,Sydney,338,sydney,Sydney,2000.01.10,2000,1,...,lleyton-hewitt,h432,Mark Woodforde,/en/players/mark-woodforde/w035/overview,mark-woodforde,w035,Todd Woodbridge,/en/players/todd-woodbridge/w136/overview,todd-woodbridge,w136

In [4]:
tournaments_col_names = ['tourney_year_id'
,'tourney_order'
,'tourney_type'
,'tourney_name'
,'tourney_id'
,'tourney_slug'
,'tourney_location'
,'tourney_date'
,'year'
,'tourney_month'
,'tourney_day'
,'tourney_singles_draw'
,'tourney_doubles_draw'
,'tourney_conditions'
,'tourney_surface'
,'tourney_fin_commit_raw'
,'currency'
,'tourney_fin_commit'
,'tourney_url_suffix'
,'singles_winner_name'
,'singles_winner_url'
,'singles_winner_player_slug'
,'singles_winner_player_id'
,'doubles_winner_1_name'
,'doubles_winner_1_url'
,'doubles_winner_1_player_slug'
,'doubles_winner_1_player_id'
,'doubles_winner_2_name'
,'doubles_winner_2_url'
,'doubles_winner_2_player_slug'
,'doubles_winner_2_player_id']

In [5]:
dict_for_renaming = {k: v for k, v in zip(tournaments_2000_2009.columns, tournaments_col_names)}

In [6]:
tournaments_2000_2009 = tournaments_2000_2009.rename(dict_for_renaming, axis=1)

In [7]:
tournaments_2000_2009.head()

,tourney_year_id,tourney_order,tourney_type,tourney_name,tourney_id,tourney_slug,tourney_location,tourney_date,year,tourney_month,...,singles_winner_player_slug,singles_winner_player_id,doubles_winner_1_name,doubles_winner_1_url,doubles_winner_1_player_slug,doubles_winner_1_player_id,doubles_winner_2_name,doubles_winner_2_url,doubles_winner_2_player_slug,doubles_winner_2_player_id
0,2000-451,1,NaN,Doha,451,doha,Doha,2000.01.03,2000,1,...,fabrice-santoro,s424,Mark Knowles,/en/players/mark-knowles/k171/overview,mark-knowles,k171,Max Mirnyi,/en/players/max-mirnyi/m595/overview,max-mirnyi,m595
1,2000-891,2,NaN,Chennai,891,chennai,Chennai,2000.01.03,2000,1,...,jerome-golmard,g319,Julien Boutter,/en/players/julien-boutter/b599/overview,julien-boutter,b599,Christophe Rochus,/en/players/christophe-rochus/r336/overview,christophe-rochus,r336
2,2000-7308,3,NaN,Adelaide,7308,adelaide,Adelaide,2000.01.03,2000,1,...,lleyton-hewitt,h432,Mark Woodforde,/en/players/mark-woodforde/w035/overview,mark-woodforde,w035,Todd Woodbridge,/en/players/todd-woodbridge/w136/overview,todd-woodbridge,w136
3,2000-301,4,NaN,Auckland,301,auckland,Auckland,2000.01.10,2000,1,...,magnus-norman,n250,Ellis Ferreira,/en/players/ellis-ferreira/f185/overview,ellis-ferreira,f185,Rick Leach,/en/players/rick-leach/l013/overview,rick-leach,l013
4,2000-338,5,NaN,Sydney,338,sydney,Sydney,2000.01.10,2000,1,...,lleyton-hewitt,h432,Mark Woodforde,/en/players/mark-woodforde/w035/overview,mark-woodforde,w035,Todd Woodbridge,/en/players/todd-woodbridge/w136/overview,todd-woodbridge,w136

In [8]:
tournaments_2000_2009.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tourney_year_id               683 non-null    object
 1   tourney_order                 683 non-null    int64
 2   tourney_type                  193 non-null    object
 3   tourney_name                  683 non-null    object
 4   tourney_id                    683 non-null    int64
 5   tourney_slug                  683 non-null    object
 6   tourney_location              673 non-null    object
 7   tourney_date                  683 non-null    object
 8   year                          683 non-null    int64
 9   tourney_month                 683 non-null    int64
 10  tourney_day                   683 non-null    int64
 11  tourney_singles_draw          683 non-null    int64
 12  tourney_doubles_draw          683 non-null    int64
 13  tourney_conditions            683 non-null    object
 14  tourney_surface               683 non-null    object
 15  tourney_fin_commit_raw        680 non-null    object
 16  currency                      680 non-null    object
 17  tourney_fin_commit            680 non-null    float64
 18  tourney_url_suffix            683 non-null    object
 19  singles_winner_name           681 non-null    object
 20  singles_winner_url            681 non-null    object
 21  singles_winner_player_slug    681 non-null    object
 22  singles_winner_player_id      681 non-null    object
 23  doubles_winner_1_name         680 non-null    object
 24  doubles_winner_1_url          680 non-null    object
 25  doubles_winner_1_player_slug  680 non-null    object
 26  doubles_winner_1_player_id    680 non-null    object
 27  doubles_winner_2_name         680 non-null    object
 28  doubles_winner_2_url          680 non-null    object
 29  doubles_winner_2_player_slug  680 non-null    object
 30  doubles_winner_2_player_id    680 non-null    object
dtypes: float64(1), int64(7), object(23)
memory usage: 165.5+ KB

In [9]:
tournaments_2010_2019 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/1_tournaments/tournaments_2010-2019.csv', header=None)

In [10]:
tournaments_2010_2019

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,2010-339,1,ATP 250,Brisbane,339,brisbane,Brisbane,2010.01.03,2010,1,...,andy-roddick,r485,Jeremy Chardy,/en/players/jeremy-chardy/ca12/overview,jeremy-chardy,ca12,Marc Gicquel,/en/players/marc-gicquel/g436/overview,marc-gicquel,g436
1,2010-451,2,ATP 250,Doha,451,doha,Doha,2010.01.04,2010,1,...,nikolay-davydenko,d402,Guillermo Garcia-Lopez,/en/players/guillermo-garcia-lopez/g476/overview,guillermo-garcia-lopez,g476,Albert Montanes,/en/players/albert-montanes/m824/overview,albert-montanes,m824
2,2010-891,3,ATP 250,Chennai,891,chennai,Chennai,2010.01.04,2010,1,...,marin-cilic,c977,Marcel Granollers,/en/players/marcel-granollers/g710/overview,marcel-granollers,g710,Santiago Ventura,/en/players/santiago-ventura/v251/overview,santiago-ventura,v251
3,2010-338,4,ATP 250,Sydney,338,sydney,Sydney,2010.01.11,2010,1,...,marcos-baghdatis,b837,Daniel Nestor,/en/players/daniel-nestor/n210/overview,daniel-nestor,n210,Nenad Zimonjic,/en/players/nenad-zimonjic/z072/overview,nenad-zimonjic,z072
4,2010-301,5,ATP 250,Auckland,301,auckland,Auckland,2010.01.11,2010,1,...,john-isner,i186,Marcus Daniell,/en/players/marcus-daniell/d763/overview,marcus-daniell,d763,Horia Tecau,/en/players/horia-tecau/t749/overview,horia-tecau,t749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
663,2019-337,64,ATP 500,Vienna,337,vienna,"Vienna, Austria",2019.10.21,2019,10,...,dominic-thiem,tb69,Rajeev Ram,/en/players/rajeev-ram/r548/overview,rajeev-ram,r548,Joe Salisbury,/en/players/joe-salisbury/so70/overview,joe-salisbury,so70
664,2019-328,65,ATP 500,Basel,328,basel,"Basel, Switzerland",2019.10.21,2019,10,...,roger-federer,f324,Jean-Julien Rojer,/en/players/jean-julien-rojer/r513/overview,jean-julien-rojer,r513,Horia Tecau,/en/players/horia-tecau/t749/overview,horia-tecau,t749
665,2019-352,66,Masters 1000,ATP Masters 1000 Paris,352,paris,"Paris, France",2019.10.28,2019,10,...,novak-djokovic,d643,Pierre-Hugues Herbert,/en/players/pierre-hugues-herbert/h996/overview,pierre-hugues-herbert,h996,Nicolas Mahut,/en/players/nicolas-mahut/m873/overview,nicolas-mahut,m873
666,2019-7696,67,Next Gen Finals,Next Gen ATP Finals,7696,next-gen-atp-finals,"Milan, Italy",2019.11.05,2019,11,...,jannik-sinner,s0ag,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
667,2019-605,68,ATP Finals,Nitto ATP Finals,605,nitto-atp-finals,"London, Great Britain",2019.11.10,2019,11,...,stefanos-tsitsipas,te51,Pierre-Hugues Herbert,/en/players/pierre-hugues-herbert/h996/overview,pierre-hugues-herbert,h996,Nicolas Mahut,/en/players/nicolas-mahut/m873/overview,nicolas-mahut,m873

In [11]:
tournaments_2010_2019 = tournaments_2010_2019.rename(dict_for_renaming, axis=1)

In [12]:
tournaments_2010_2019.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668 entries, 0 to 667
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tourney_year_id               668 non-null    object
 1   tourney_order                 668 non-null    int64
 2   tourney_type                  663 non-null    object
 3   tourney_name                  668 non-null    object
 4   tourney_id                    668 non-null    int64
 5   tourney_slug                  668 non-null    object
 6   tourney_location              667 non-null    object
 7   tourney_date                  668 non-null    object
 8   year                          668 non-null    int64
 9   tourney_month                 668 non-null    int64
 10  tourney_day                   668 non-null    int64
 11  tourney_singles_draw          668 non-null    int64
 12  tourney_doubles_draw          668 non-null    int64
 13  tourney_conditions            668 non-null    object
 14  tourney_surface               668 non-null    object
 15  tourney_fin_commit_raw        663 non-null    object
 16  currency                      663 non-null    object
 17  tourney_fin_commit            663 non-null    float64
 18  tourney_url_suffix            668 non-null    object
 19  singles_winner_name           664 non-null    object
 20  singles_winner_url            664 non-null    object
 21  singles_winner_player_slug    664 non-null    object
 22  singles_winner_player_id      664 non-null    object
 23  doubles_winner_1_name         661 non-null    object
 24  doubles_winner_1_url          661 non-null    object
 25  doubles_winner_1_player_slug  661 non-null    object
 26  doubles_winner_1_player_id    661 non-null    object
 27  doubles_winner_2_name         661 non-null    object
 28  doubles_winner_2_url          661 non-null    object
 29  doubles_winner_2_player_slug  661 non-null    object
 30  doubles_winner_2_player_id    661 non-null    object
dtypes: float64(1), int64(7), object(23)
memory usage: 161.9+ KB

In [13]:
tournaments_2020_2022 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/1_tournaments/tournaments_2020-2022.csv', header=None)

In [14]:
tournaments_2020_2022

,0,1,2,3,4,5,6,7,8,9,...,21,22,23,24,25,26,27,28,29,30
0,2020-8888,1,ATP Cup,ATP Cup,8888,atp-cup,"Brisbane/Perth/Sydney, Australia",2020.01.03,2020,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-451,2,ATP 250,Doha,451,doha,"Doha, Qatar",2020.01.06,2020,1,...,andrey-rublev,re44,Rohan Bopanna,/en/players/rohan-bopanna/b757/overview,rohan-bopanna,b757,Wesley Koolhof,/en/players/wesley-koolhof/kc41/overview,wesley-koolhof,kc41
2,2020-8998,3,ATP 250,Adelaide,8998,adelaide,"Adelaide, Australia",2020.01.12,2020,1,...,andrey-rublev,re44,Maximo Gonzalez,/en/players/maximo-gonzalez/g585/overview,maximo-gonzalez,g585,Fabrice Martin,/en/players/fabrice-martin/me04/overview,fabrice-martin,me04
3,2020-301,4,ATP 250,Auckland,301,auckland,"Auckland, New Zealand",2020.01.13,2020,1,...,ugo-humbert,hh26,Luke Bambridge,/en/players/luke-bambridge/bk05/overview,luke-bambridge,bk05,Ben McLachlan,/en/players/ben-mclachlan/mo07/overview,ben-mclachlan,mo07
4,2020-580,5,Grand Slam,Australian Open,580,australian-open,"Melbourne, Australia",2020.01.20,2020,1,...,novak-djokovic,d643,Rajeev Ram,/en/players/rajeev-ram/r548/overview,rajeev-ram,r548,Joe Salisbury,/en/players/joe-salisbury/so70/overview,joe-salisbury,so70
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217,2022-337,67,ATP 500,Erste Bank Open,337,vienna,"Vienna, Austria",2022.10.24,2022,10,...,daniil-medvedev,mm58,Alexander Erler,/en/players/alexander-erler/e928/overview,alexander-erler,e928,Lucas Miedler,/en/players/lucas-miedler/mo55/overview,lucas-miedler,mo55
218,2022-328,68,ATP 500,Swiss Indoors Basel,328,basel,"Basel, Switzerland",2022.10.24,2022,10,...,felix-auger-aliassime,ag37,Ivan Dodig,/en/players/ivan-dodig/d646/overview,ivan-dodig,d646,Austin Krajicek,/en/players/austin-krajicek/ka00/overview,austin-krajicek,ka00
219,2022-352,69,Masters 1000,Rolex Paris Masters,352,paris,"Paris, France",2022.10.31,2022,10,...,holger-rune,r0dg,Wesley Koolhof,/en/players/wesley-koolhof/kc41/overview,wesley-koolhof,kc41,Neal Skupski,/en/players/neal-skupski/sl22/overview,neal-skupski,sl22
220,2022-7696,70,Next Gen Finals,Intesa Sanpaolo Next Gen ATP Finals,7696,intesa-sanpaolo-next-gen-atp-finals,"Milan, Italy",2022.11.08,2022,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,2022-605,71,ATP Finals,Nitto ATP Finals,605,nitto-atp-finals,"Turin, Italy",2022.11.13,2022,11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
tournaments_2020_2022 = tournaments_2020_2022.rename(dict_for_renaming, axis=1)

In [16]:
tournaments_2000_2022 = pd.concat([tournaments_2000_2009, tournaments_2010_2019, tournaments_2020_2022], axis=0)

In [17]:
tournaments_2000_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1573 entries, 0 to 221
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tourney_year_id               1573 non-null   object
 1   tourney_order                 1573 non-null   int64
 2   tourney_type                  1076 non-null   object
 3   tourney_name                  1573 non-null   object
 4   tourney_id                    1573 non-null   int64
 5   tourney_slug                  1573 non-null   object
 6   tourney_location              1562 non-null   object
 7   tourney_date                  1573 non-null   object
 8   year                          1573 non-null   int64
 9   tourney_month                 1573 non-null   int64
 10  tourney_day                   1573 non-null   int64
 11  tourney_singles_draw          1573 non-null   int64
 12  tourney_doubles_draw          1573 non-null   int64
 13  tourney_conditions            1573 non-null   object
 14  tourney_surface               1573 non-null   object
 15  tourney_fin_commit_raw        1546 non-null   object
 16  currency                      1546 non-null   object
 17  tourney_fin_commit            1546 non-null   float64
 18  tourney_url_suffix            1573 non-null   object
 19  singles_winner_name           1507 non-null   object
 20  singles_winner_url            1507 non-null   object
 21  singles_winner_player_slug    1507 non-null   object
 22  singles_winner_player_id      1507 non-null   object
 23  doubles_winner_1_name         1502 non-null   object
 24  doubles_winner_1_url          1502 non-null   object
 25  doubles_winner_1_player_slug  1502 non-null   object
 26  doubles_winner_1_player_id    1502 non-null   object
 27  doubles_winner_2_name         1502 non-null   object
 28  doubles_winner_2_url          1502 non-null   object
 29  doubles_winner_2_player_slug  1502 non-null   object
 30  doubles_winner_2_player_id    1502 non-null   object
dtypes: float64(1), int64(7), object(23)
memory usage: 393.2+ KB

In [18]:
tournaments_2000_2022['tourney_year_id'].value_counts()

2000-451    1
2015-314    1
2015-414    1
2015-439    1
2015-316    1
           ..
2007-315    1
2007-316    1
2007-314    1
2007-540    1
2022-605    1
Name: tourney_year_id, Length: 1573, dtype: int64

In [19]:
len(tournaments_2000_2022['tourney_year_id'].unique())

1573

In [20]:
tournaments_2000_2022.to_csv('Sources/atp-world-tour-tennis-data-master/csv/1_tournaments/tournaments_2000_2022.csv')

In [21]:
match_scores_2000_2009 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/2_match_scores/match_scores_2000-2009.csv', header=None)

In [22]:
match_scores_col_names = ['tourney_year_id',
'tourney_order',
'tourney_name',
'tourney_slug',
'tourney_url_suffix',
'start_date',
'start_year',
'start_month',
'start_day',
'end_date',
'end_year',
'end_month',
'end_day',
'currency',
'prize_money',
'match_index',
'tourney_round_name',
'round_order',
'match_order',
'winner_name',
'winner_player_id',
'winner_slug',
'loser_name',
'loser_player_id',
'loser_slug',
'winner_seed',
'loser_seed',
'match_score_tiebreaks',
'winner_sets_won',
'loser_sets_won',
'winner_games_won',
'loser_games_won',
'winner_tiebreaks_won',
'loser_tiebreaks_won',
'match_id',
'match_stats_url_suffix']

In [23]:
dict_for_renaming2 = {k: v for k, v in zip(match_scores_2000_2009.columns, match_scores_col_names)}

In [24]:
match_scores_2000_2009 = match_scores_2000_2009.rename(dict_for_renaming2, axis=1)

In [25]:
match_scores_2000_2009

,tourney_year_id,tourney_order,tourney_name,tourney_slug,tourney_url_suffix,start_date,start_year,start_month,start_day,end_date,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,NaN,36 75 30 (RET),2.0,1.0,13.0,11.0,0.0,0.0,2000-451-MS001-5-1-s424-s636,/en/scores/2000/451/MS001/match-stats?isLive=F...
1,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,1,75 64,2.0,0.0,13.0,9.0,0.0,0.0,2000-451-MS002-4-2-s424-k316,/en/scores/2000/451/MS002/match-stats?isLive=F...
2,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,4,67(3) 64 64,2.0,1.0,18.0,15.0,0.0,1.0,2000-451-MS003-4-1-s636-e121,/en/scores/2000/451/MS003/match-stats?isLive=F...
3,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,8,61 60,2.0,0.0,12.0,1.0,0.0,0.0,2000-451-MS004-3-4-k316-s572,/en/scores/2000/451/MS004/match-stats?isLive=F...
4,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,NaN,62 64,2.0,0.0,12.0,6.0,0.0,0.0,2000-451-MS005-3-3-s424-b503,/en/scores/2000/451/MS005/match-stats?isLive=F...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34217,2009-605,66,ATP Finals,atp-finals,/en/scores/archive/atp-finals/605/2009/results,2009.11.22,2009.0,11.0,22.0,2009.11.29,...,NaN,36 63 61,2.0,1.0,15.0,10.0,0.0,0.0,2009-605-MS008-1-5-f324-mc10,/en/scores/2009/605/MS008/match-stats?isLive=F...
34218,2009-605,66,ATP Finals,atp-finals,/en/scores/archive/atp-finals/605/2009/results,2009.11.22,2009.0,11.0,22.0,2009.11.29,...,NaN,36 64 75,2.0,1.0,16.0,15.0,0.0,0.0,2009-605-MS019-1-4-d643-d402,/en/scores/2009/605/MS019/match-stats?isLive=F...
34219,2009-605,66,ATP Finals,atp-finals,/en/scores/archive/atp-finals/605/2009/results,2009.11.22,2009.0,11.0,22.0,2009.11.29,...,NaN,64 64,2.0,0.0,12.0,8.0,0.0,0.0,2009-605-MS018-1-3-sa49-n409,/en/scores/2009/605/MS018/match-stats?isLive=F...
34220,2009-605,66,ATP Finals,atp-finals,/en/scores/archive/atp-finals/605/2009/results,2009.11.22,2009.0,11.0,22.0,2009.11.29,...,NaN,46 75 61,2.0,1.0,17.0,12.0,0.0,0.0,2009-605-MS010-1-2-f324-v306,/en/scores/2009/605/MS010/match-stats?isLive=F...
34221,2009-605,66,ATP Finals,atp-finals,/en/scores/archive/atp-finals/605/2009/results,2009.11.22,2009.0,11.0,22.0,2009.11.29,...,NaN,63 36 62,2.0,1.0,15.0,11.0,0.0,0.0,2009-605-MS011-1-1-mc10-d683,/en/scores/2009/605/MS011/match-stats?isLive=F...

In [26]:
match_scores_2010_2019 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/2_match_scores/match_scores_2010-2019.csv', header=None)
match_scores_2010_2019 = match_scores_2010_2019.rename(dict_for_renaming2, axis=1)

match_scores_2020_2022 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/2_match_scores/match_scores_2020-2022.csv', header=None)
match_scores_2020_2022 = match_scores_2020_2022.rename(dict_for_renaming2, axis=1)

In [27]:
match_scores_2000_2022 = pd.concat([match_scores_2000_2009, match_scores_2010_2019, match_scores_2020_2022], axis=0)

In [28]:
match_scores_2000_2022

,tourney_year_id,tourney_order,tourney_name,tourney_slug,tourney_url_suffix,start_date,start_year,start_month,start_day,end_date,...,loser_seed,match_score_tiebreaks,winner_sets_won,loser_sets_won,winner_games_won,loser_games_won,winner_tiebreaks_won,loser_tiebreaks_won,match_id,match_stats_url_suffix
0,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,NaN,36 75 30 (RET),2.0,1.0,13.0,11.0,0.0,0.0,2000-451-MS001-5-1-s424-s636,/en/scores/2000/451/MS001/match-stats?isLive=F...
1,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,1,75 64,2.0,0.0,13.0,9.0,0.0,0.0,2000-451-MS002-4-2-s424-k316,/en/scores/2000/451/MS002/match-stats?isLive=F...
2,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,4,67(3) 64 64,2.0,1.0,18.0,15.0,0.0,1.0,2000-451-MS003-4-1-s636-e121,/en/scores/2000/451/MS003/match-stats?isLive=F...
3,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,8,61 60,2.0,0.0,12.0,1.0,0.0,0.0,2000-451-MS004-3-4-k316-s572,/en/scores/2000/451/MS004/match-stats?isLive=F...
4,2000-451,1,Doha,doha,/en/scores/archive/doha/451/2000/results,2000.01.03,2000.0,1.0,3.0,2000.01.09,...,NaN,62 64,2.0,0.0,12.0,6.0,0.0,0.0,2000-451-MS005-3-3-s424-b503,/en/scores/2000/451/MS005/match-stats?isLive=F...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9717,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,3,43(5) 43(5) 43(5),3.0,0.0,12.0,9.0,0.0,0.0,live-scores-7696-2022-1-3-s0la-d0co,/en/scores/stats-centre/archive/2022/7696/ms020
9718,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,9,24 43(7) 43(4) 34(4) 42,3.0,2.0,17.0,16.0,0.0,0.0,live-scores-7696-2022-1-2-n0ae-a0fc,/en/scores/stats-centre/archive/2022/7696/ms008
9719,2022-7696,70,Intesa Sanpaolo Next Gen ATP Finals,intesa-sanpaolo-next-gen-atp-finals,/en/scores/current/intesa-sanpaolo-next-gen-at...,2022.11.08,2022.0,11.0,8.0,2022.11.12,...,8,41 43(7) 41,3.0,0.0,12.0,5.0,0.0,0.0,live-scores-7696-2022-1-1-l0bv-p0ct,/en/scores/stats-centre/archive/2022/7696/ms013
9720,2022-605,71,Nitto ATP Finals,nitto-atp-finals,/en/scores/current/nitto-atp-finals/605/live-s...,2022.11.13,2022.0,11.0,13.0,2022.11.20,...,1,76(3) 61,2.0,0.0,13.0,7.0,1.0,0.0,live-scores-605-2022-1-2-fb98-n409,/en/scores/stats-centre/archive/2022/605/ms010
9721,2022-605,71,Nitto ATP Finals,nitto-atp-finals,/en/scores/current/nitto-atp-finals/605/live-s...,2022.11.13,2022.0,11.0,13.0,2022.11.20,...,5,76(4) 64,2.0,0.0,13.0,10.0,1.0,0.0,live-scores-605-2022-1-1-rh16-ag37,/en/scores/stats-centre/archive/2022/605/ms011

In [29]:
match_scores_2000_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 86771 entries, 0 to 9721
Data columns (total 36 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   tourney_year_id         86771 non-null  object
 1   tourney_order           86771 non-null  int64
 2   tourney_name            86771 non-null  object
 3   tourney_slug            86771 non-null  object
 4   tourney_url_suffix      86771 non-null  object
 5   start_date              86159 non-null  object
 6   start_year              86159 non-null  float64
 7   start_month             86159 non-null  float64
 8   start_day               86159 non-null  float64
 9   end_date                86159 non-null  object
 10  end_year                86159 non-null  float64
 11  end_month               86159 non-null  float64
 12  end_day                 86159 non-null  float64
 13  currency                86159 non-null  object
 14  prize_money             86159 non-null  float64
 15  match_index             83429 non-null  object
 16  tourney_round_name      86771 non-null  object
 17  round_order             86771 non-null  int64
 18  match_order             86771 non-null  int64
 19  winner_name             86771 non-null  object
 20  winner_player_id        86771 non-null  object
 21  winner_slug             86771 non-null  object
 22  loser_name              86771 non-null  object
 23  loser_player_id         86771 non-null  object
 24  loser_slug              86771 non-null  object
 25  winner_seed             51853 non-null  object
 26  loser_seed              41225 non-null  object
 27  match_score_tiebreaks   86771 non-null  object
 28  winner_sets_won         86365 non-null  float64
 29  loser_sets_won          86365 non-null  float64
 30  winner_games_won        86365 non-null  float64
 31  loser_games_won         86365 non-null  float64
 32  winner_tiebreaks_won    86365 non-null  float64
 33  loser_tiebreaks_won     86365 non-null  float64
 34  match_id                86771 non-null  object
 35  match_stats_url_suffix  83429 non-null  object
dtypes: float64(13), int64(3), object(20)
memory usage: 24.5+ MB

In [30]:
len(match_scores_2000_2022['tourney_year_id'].unique())

1509

In [31]:
match_scores_2000_2022['match_index'].value_counts()

2021.0    3762
2022.0    2975
2020.0    1895
MS001     1323
MS019     1315
          ...
QS104       47
QS060       46
QS063       46
QS071       46
MS000        2
Name: match_index, Length: 255, dtype: int64

In [32]:
match_stats_col_names = ['match_id',
'tourney_slug',
'match_stats_url_suffix',
'match_time',
'match_duration',
'winner_slug',
'winner_serve_rating',
'winner_aces',
'winner_double_faults',
'winner_first_serves_in',
'winner_first_serves_total',
'winner_first_serve_points_won',
'winner_first_serve_points_total',
'winner_second_serve_points_won',
'winner_second_serve_points_total',
'winner_break_points_saved',
'winner_break_points_serve_total',
'winner_service_games_played',
'winner_return_rating',
'winner_first_serve_return_won',
'winner_first_serve_return_total',
'winner_second_serve_return_won',
'winner_second_serve_return_total',
'winner_break_points_converted',
'winner_break_points_return_total',
'winner_return_games_played',
'winner_service_points_won',
'winner_service_points_total',
'winner_return_points_won',
'winner_return_points_total',
'winner_total_points_won',
'winner_total_points_total',
'loser_slug',
'loser_serve_rating',
'loser_aces',
'loser_double_faults',
'loser_first_serves_in',
'loser_first_serves_total',
'loser_first_serve_points_won',
'loser_first_serve_points_total',
'loser_second_serve_points_won',
'loser_second_serve_points_total',
'loser_break_points_saved',
'loser_break_points_serve_total',
'loser_service_games_played',
'loser_return_rating',
'loser_first_serve_return_won',
'loser_first_serve_return_total',
'loser_second_serve_return_won',
'loser_second_serve_return_total',
'loser_break_points_converted',
'loser_break_points_return_total',
'loser_return_games_played',
'loser_service_points_won',
'loser_service_points_total',
'loser_return_points_won',
'loser_return_points_total',
'loser_total_points_won',
'loser_total_points_total']

In [33]:
match_stats_2000 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2000.csv', header=None)
match_stats_2001 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2001.csv', header=None)
match_stats_2002 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2002.csv', header=None)
match_stats_2003 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2003.csv', header=None)
match_stats_2004 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2004.csv', header=None)
match_stats_2005 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2005.csv', header=None)
match_stats_2006 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2006.csv', header=None)
match_stats_2007 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2007.csv', header=None)
match_stats_2008 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2008.csv', header=None)
match_stats_2009 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2009.csv', header=None)
match_stats_2010 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2010.csv', header=None)
match_stats_2011 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2011.csv', header=None)
match_stats_2012 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2012.csv', header=None)
match_stats_2013 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2013.csv', header=None)
match_stats_2014 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2014.csv', header=None)
match_stats_2015 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2015.csv', header=None)
match_stats_2016 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2016.csv', header=None)
match_stats_2017 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2017.csv', header=None)
match_stats_2018 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2018.csv', header=None)
match_stats_2019 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2019.csv', header=None)
match_stats_2020 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2020.csv', header=None)
match_stats_2021 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2021.csv', header=None)
match_stats_2022 = pd.read_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2022.csv', header=None)

In [34]:
dict_for_renaming3 = {k: v for k, v in zip(match_stats_2000.columns, match_stats_col_names)}

In [35]:
liste = [match_stats_2000,
match_stats_2001,
match_stats_2002,
match_stats_2003,
match_stats_2004,
match_stats_2005,
match_stats_2006,
match_stats_2007,
match_stats_2008,
match_stats_2009,
match_stats_2010,
match_stats_2011,
match_stats_2012,
match_stats_2013,
match_stats_2014,
match_stats_2015,
match_stats_2016,
match_stats_2017,
match_stats_2018,
match_stats_2019,
match_stats_2020,
match_stats_2021,
match_stats_2022]

In [36]:
match_stats_2000_2022 = pd.concat(liste, axis=0)

In [37]:
match_stats_2000_2022 = match_stats_2000_2022.rename(dict_for_renaming3, axis=1)

In [38]:
match_stats_2000_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83429 entries, 0 to 2974
Data columns (total 59 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   match_id                          83429 non-null  object
 1   tourney_slug                      83429 non-null  object
 2   match_stats_url_suffix            83429 non-null  object
 3   match_time                        78064 non-null  object
 4   match_duration                    78064 non-null  float64
 5   winner_slug                       78064 non-null  object
 6   winner_serve_rating               74785 non-null  float64
 7   winner_aces                       74785 non-null  float64
 8   winner_double_faults              74785 non-null  float64
 9   winner_first_serves_in            74785 non-null  float64
 10  winner_first_serves_total         74785 non-null  float64
 11  winner_first_serve_points_won     74785 non-null  float64
 12  winner_first_serve_points_total   74785 non-null  float64
 13  winner_second_serve_points_won    74785 non-null  float64
 14  winner_second_serve_points_total  74785 non-null  float64
 15  winner_break_points_saved         74785 non-null  float64
 16  winner_break_points_serve_total   74785 non-null  float64
 17  winner_service_games_played       74785 non-null  float64
 18  winner_return_rating              74785 non-null  float64
 19  winner_first_serve_return_won     74785 non-null  float64
 20  winner_first_serve_return_total   74785 non-null  float64
 21  winner_second_serve_return_won    74785 non-null  float64
 22  winner_second_serve_return_total  74785 non-null  float64
 23  winner_break_points_converted     74785 non-null  float64
 24  winner_break_points_return_total  74785 non-null  float64
 25  winner_return_games_played        74785 non-null  float64
 26  winner_service_points_won         74785 non-null  float64
 27  winner_service_points_total       74785 non-null  float64
 28  winner_return_points_won          74785 non-null  float64
 29  winner_return_points_total        74785 non-null  float64
 30  winner_total_points_won           74785 non-null  float64
 31  winner_total_points_total         74785 non-null  float64
 32  loser_slug                        78064 non-null  object
 33  loser_serve_rating                74785 non-null  float64
 34  loser_aces                        74785 non-null  float64
 35  loser_double_faults               74785 non-null  float64
 36  loser_first_serves_in             74785 non-null  float64
 37  loser_first_serves_total          74785 non-null  float64
 38  loser_first_serve_points_won      74785 non-null  float64
 39  loser_first_serve_points_total    74785 non-null  float64
 40  loser_second_serve_points_won     74785 non-null  float64
 41  loser_second_serve_points_total   74785 non-null  float64
 42  loser_break_points_saved          74785 non-null  float64
 43  loser_break_points_serve_total    74785 non-null  float64
 44  loser_service_games_played        74785 non-null  float64
 45  loser_return_rating               74785 non-null  float64
 46  loser_first_serve_return_won      74785 non-null  float64
 47  loser_first_serve_return_total    74785 non-null  float64
 48  loser_second_serve_return_won     74785 non-null  float64
 49  loser_second_serve_return_total   74785 non-null  float64
 50  loser_break_points_converted      74785 non-null  float64
 51  loser_break_points_return_total   74785 non-null  float64
 52  loser_return_games_played         74785 non-null  float64
 53  loser_service_points_won          74785 non-null  float64
 54  loser_service_points_total        74785 non-null  float64
 55  loser_return_points_won           74785 non-null  float64
 56  loser_return_points_total         74785 non-null  float64
 57  loser_total_points_won            74785 non-null  float64
 58  loser_total_points_total          74785 non-null  float64
dtypes: float64(53), object(6)
memory usage: 38.2+ MB

In [39]:
len(match_stats_2000_2022['match_id'].unique())

83408

In [40]:
match_stats_2000_2022['match_id'].value_counts()

2022-archive-2022-4-3-ke17-pl56           2
2022-archive-2022-4-4-n0ae-kb09           2
2022-archive-2022-3-9-f724-hg86           2
2020-archive-2020-6-2-mc65-kb05           2
2021-archive-2021-8-4-d643-bk40           2
                                         ..
2008-328-MS008-5-8-f324-n289              1
2008-328-MS005-6-1-l397-b676              1
2008-328-MS006-6-2-d683-a511              1
2008-328-MS007-6-3-n301-b896              1
live-scores-archive-2022-1-1-rh16-ag37    1
Name: match_id, Length: 83408, dtype: int64

In [41]:
match_stats_2000_2022

,match_id,tourney_slug,match_stats_url_suffix,match_time,match_duration,winner_slug,winner_serve_rating,winner_aces,winner_double_faults,winner_first_serves_in,...,loser_second_serve_return_total,loser_break_points_converted,loser_break_points_return_total,loser_return_games_played,loser_service_points_won,loser_service_points_total,loser_return_points_won,loser_return_points_total,loser_total_points_won,loser_total_points_total
0,2000-451-MS001-5-1-s424-s636,doha,/en/scores/2000/451/MS001/match-stats?isLive=F...,01:58:00,118.0,s424,242.0,3.0,0.0,44.0,...,30.0,4.0,6.0,12.0,45.0,85.0,31.0,74.0,76.0,159.0
1,2000-451-MS002-4-2-s424-k316,doha,/en/scores/2000/451/MS002/match-stats?isLive=F...,01:39:00,99.0,s424,264.0,2.0,1.0,38.0,...,29.0,2.0,7.0,11.0,37.0,70.0,25.0,67.0,62.0,137.0
2,2000-451-MS003-4-1-s636-e121,doha,/en/scores/2000/451/MS003/match-stats?isLive=F...,02:35:00,155.0,s636,274.0,1.0,3.0,71.0,...,29.0,2.0,8.0,16.0,73.0,123.0,35.0,100.0,108.0,223.0
3,2000-451-MS004-3-4-k316-s572,doha,/en/scores/2000/451/MS004/match-stats?isLive=F...,01:07:00,67.0,k316,288.0,4.0,1.0,35.0,...,19.0,0.0,4.0,7.0,16.0,40.0,18.0,54.0,34.0,94.0
4,2000-451-MS005-3-3-s424-b503,doha,/en/scores/2000/451/MS005/match-stats?isLive=F...,01:18:00,78.0,s424,307.0,3.0,2.0,34.0,...,19.0,0.0,1.0,9.0,34.0,58.0,15.0,53.0,49.0,111.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,live-scores-archive-2022-1-3-s0la-d0co,intesa-sanpaolo-next-gen-atp-finals,/en/scores/stats-centre/archive/2022/7696/ms020,01:26:13,86.0,d0co,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2971,live-scores-archive-2022-1-2-n0ae-a0fc,intesa-sanpaolo-next-gen-atp-finals,/en/scores/stats-centre/archive/2022/7696/ms008,02:10:14,130.0,a0fc,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2972,live-scores-archive-2022-1-1-l0bv-p0ct,intesa-sanpaolo-next-gen-atp-finals,/en/scores/stats-centre/archive/2022/7696/ms013,01:04:49,64.0,l0bv,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2973,live-scores-archive-2022-1-2-fb98-n409,nitto-atp-finals,/en/scores/stats-centre/archive/2022/605/ms010,01:37:20,97.0,n409,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2974,live-scores-archive-2022-1-1-rh16-ag37,nitto-atp-finals,/en/scores/stats-centre/archive/2022/605/ms011,01:51:20,111.0,rh16,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
match_stats_2000_2022.to_csv('Sources/atp-world-tour-tennis-data-master/csv/3_match_stats/match_stats_2000_2022.csv')

In [43]:
match_scores_2000_2022.to_csv('Sources/atp-world-tour-tennis-data-master/csv/2_match_scores/match_scores_2000_2022.csv')

In [44]:
tournaments_2000_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1573 entries, 0 to 221
Data columns (total 31 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   tourney_year_id               1573 non-null   object
 1   tourney_order                 1573 non-null   int64
 2   tourney_type                  1076 non-null   object
 3   tourney_name                  1573 non-null   object
 4   tourney_id                    1573 non-null   int64
 5   tourney_slug                  1573 non-null   object
 6   tourney_location              1562 non-null   object
 7   tourney_date                  1573 non-null   object
 8   year                          1573 non-null   int64
 9   tourney_month                 1573 non-null   int64
 10  tourney_day                   1573 non-null   int64
 11  tourney_singles_draw          1573 non-null   int64
 12  tourney_doubles_draw          1573 non-null   int64
 13  tourney_conditions            1573 non-null   object
 14  tourney_surface               1573 non-null   object
 15  tourney_fin_commit_raw        1546 non-null   object
 16  currency                      1546 non-null   object
 17  tourney_fin_commit            1546 non-null   float64
 18  tourney_url_suffix            1573 non-null   object
 19  singles_winner_name           1507 non-null   object
 20  singles_winner_url            1507 non-null   object
 21  singles_winner_player_slug    1507 non-null   object
 22  singles_winner_player_id      1507 non-null   object
 23  doubles_winner_1_name         1502 non-null   object
 24  doubles_winner_1_url          1502 non-null   object
 25  doubles_winner_1_player_slug  1502 non-null   object
 26  doubles_winner_1_player_id    1502 non-null   object
 27  doubles_winner_2_name         1502 non-null   object
 28  doubles_winner_2_url          1502 non-null   object
 29  doubles_winner_2_player_slug  1502 non-null   object
 30  doubles_winner_2_player_id    1502 non-null   object
dtypes: float64(1), int64(7), object(23)
memory usage: 393.2+ KB

In [48]:
odds_data_2000 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2000.xls')
odds_data_2001 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2001.xls')
odds_data_2002 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2002.xls')
odds_data_2003 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2003.xls')
odds_data_2004 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2004.xls')
odds_data_2005 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2005.xls')
odds_data_2006 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2006.xls')
odds_data_2007 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2007.xls')
odds_data_2008 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2008.xls')
odds_data_2009 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2009.xls')
odds_data_2010 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2010.xls')
odds_data_2011 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2011.xls')
odds_data_2012 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2012.xls')
odds_data_2013 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2013.xlsx')
odds_data_2014 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2014.xlsx')
odds_data_2015 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2015.xlsx')
odds_data_2016 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2016.xlsx')
odds_data_2017 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2017.xlsx')
odds_data_2018 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2018.xlsx')
odds_data_2019 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2019.xlsx')
odds_data_2020 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2020.xlsx')
odds_data_2021 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2021.xlsx')
odds_data_2022 = pd.read_excel('Sources/tennis-data.co.uk-with-odds/2022.xlsx')

C:\Users\enovap\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\enovap\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\enovap\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():
C:\Users\enovap\anaconda3\lib\site-packages\openpyxl\worksheet\_read_only.py:79: UserWarning: Unknown extension is not supported and will be removed
  for idx, row in parser.parse():

In [61]:
odds_data_2000_2022 = pd.concat([odds_data_2000,
odds_data_2001,
odds_data_2002,
odds_data_2003,
odds_data_2004,
odds_data_2005,
odds_data_2006,
odds_data_2007,
odds_data_2008,
odds_data_2009,
odds_data_2010,
odds_data_2011,
odds_data_2012,
odds_data_2013,
odds_data_2014,
odds_data_2015,
odds_data_2016,
odds_data_2017,
odds_data_2018,
odds_data_2019,
odds_data_2020,
odds_data_2021,
odds_data_2022], axis=0)

In [62]:
odds_data_2000_2022.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 61281 entries, 0 to 2616
Data columns (total 54 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ATP         61281 non-null  int64
 1   Location    61281 non-null  object
 2   Tournament  61281 non-null  object
 3   Date        61281 non-null  datetime64[ns]
 4   Series      61281 non-null  object
 5   Court       61281 non-null  object
 6   Surface     61281 non-null  object
 7   Round       61281 non-null  object
 8   Best of     61281 non-null  int64
 9   Winner      61281 non-null  object
 10  Loser       61281 non-null  object
 11  WRank       61261 non-null  object
 12  LRank       61176 non-null  object
 13  W1          60953 non-null  float64
 14  L1          60956 non-null  float64
 15  W2          60389 non-null  object
 16  L2          60390 non-null  object
 17  W3          28572 non-null  object
 18  L3          28571 non-null  object
 19  W4          5715 non-null   float64
 20  L4          5715 non-null   float64
 21  W5          2161 non-null   float64
 22  L5          2161 non-null   float64
 23  Wsets       60993 non-null  float64
 24  Lsets       60991 non-null  float64
 25  Comment     61281 non-null  object
 26  CBW         17506 non-null  float64
 27  CBL         17506 non-null  float64
 28  GBW         5055 non-null   float64
 29  GBL         5055 non-null   float64
 30  IWW         13358 non-null  float64
 31  IWL         13358 non-null  float64
 32  SBW         5424 non-null   float64
 33  SBL         5424 non-null   float64
 34  B365W       52577 non-null  float64
 35  B365L       52600 non-null  float64
 36  B&WW        1097 non-null   float64
 37  B&WL        1097 non-null   float64
 38  EXW         39411 non-null  object
 39  EXL         39416 non-null  float64
 40  PSW         46281 non-null  float64
 41  PSL         46281 non-null  float64
 42  WPts        45073 non-null  float64
 43  LPts        44991 non-null  float64
 44  UBW         10671 non-null  float64
 45  UBL         10671 non-null  float64
 46  LBW         28131 non-null  float64
 47  LBL         28142 non-null  float64
 48  SJW         15572 non-null  float64
 49  SJL         15579 non-null  float64
 50  MaxW        31722 non-null  float64
 51  MaxL        31722 non-null  float64
 52  AvgW        31722 non-null  float64
 53  AvgL        31722 non-null  float64
dtypes: datetime64[ns](1), float64(35), int64(2), object(16)
memory usage: 25.7+ MB

In [63]:
odds_data_2000_2022.to_csv('Sources/tennis-data.co.uk-with-odds/odds_data_2000_2022.csv')