In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Sources/final_dataset.csv')

D:\TEMP\ipykernel_5644\596926457.py:1: DtypeWarning: Columns (13,39,73,124,125,126,128,155) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('Sources/final_dataset.csv')

In [3]:
df.head()

,Unnamed: 0,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,...,loser_birth_month,loser_birth_day,loser_turned_pro,loser_weight_lbs,loser_weight_kg,loser_height_ft,loser_height_inches,loser_height_cm,loser_handedness,loser_backhand
0,0,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,1st Round,3,...,6.0,5.0,1993.0,170.0,77.0,"5'10""",70.0,178.0,Left-Handed,One-Handed Backhand
1,1,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,1st Round,3,...,9.0,15.0,1989.0,187.0,85.0,"6'1""",73.0,185.0,NaN,NaN
2,2,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,...,3.0,19.0,1998.0,202.0,92.0,"6'4""",76.0,193.0,Right-Handed,One-Handed Backhand
3,3,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,...,7.0,6.0,1996.0,205.0,93.0,"6'5""",77.0,196.0,Right-Handed,One-Handed Backhand
4,4,1,Adelaide,AAPT Championships,2003-01-01,International,Outdoor,Hard,2nd Round,3,...,12.0,20.0,2000.0,160.0,73.0,"5'9""",69.0,175.0,NaN,NaN

In [4]:
df = df.drop('Unnamed: 0', axis=1)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46216 entries, 0 to 46215
Columns: 220 entries, ATP to loser_backhand
dtypes: float64(113), int64(23), object(84)
memory usage: 77.6+ MB

In [6]:
df.columns.values

array(['ATP', 'Location', 'Tournament', 'Date', 'Series', 'Court',
       'Surface', 'Round', 'Best of', 'Winner', 'Loser', 'WRank', 'LRank',
       'W1', 'L1', 'W2', 'L2', 'W3', 'L3', 'W4', 'L4', 'W5', 'L5',
       'Wsets', 'Lsets', 'Comment', 'CBW', 'CBL', 'GBW', 'GBL', 'IWW',
       'IWL', 'SBW', 'SBL', 'B365W', 'B365L', 'B&WW', 'B&WL', 'EXW',
       'EXL', 'PSW', 'PSL', 'WPts', 'LPts', 'UBW', 'UBL', 'LBW', 'LBL',
       'SJW', 'SJL', 'MaxW', 'MaxL', 'AvgW', 'AvgL', 'city',
       'winner_family_name', 'loser_family_name', 'tourney_year_id',
       'tourney_order_x', 'tourney_name_x', 'tourney_slug_x',
       'tourney_url_suffix_x', 'start_date', 'start_year', 'start_month',
       'start_day', 'end_date', 'end_year', 'end_month', 'end_day',
       'currency_x', 'prize_money', 'match_index', 'tourney_round_name',
       'round_order', 'match_order', 'winner_name', 'winner_player_id',
       'winner_slug_x', 'loser_name', 'loser_player_id', 'loser_slug_x',
       'winner_seed', 'loser_seed', 'match_score_tiebreaks',
       'winner_sets_won', 'loser_sets_won', 'winner_games_won',
       'loser_games_won', 'winner_tiebreaks_won', 'loser_tiebreaks_won',
       'match_id', 'match_stats_url_suffix_x', 'tourney_order_y',
       'tourney_type', 'tourney_name_y', 'tourney_id', 'tourney_slug_y',
       'tourney_location', 'tourney_date', 'year', 'tourney_month',
       'tourney_day', 'tourney_singles_draw', 'tourney_doubles_draw',
       'tourney_conditions', 'tourney_surface', 'tourney_fin_commit_raw',
       'currency_y', 'tourney_fin_commit', 'tourney_url_suffix_y',
       'singles_winner_name', 'singles_winner_url',
       'singles_winner_player_slug', 'singles_winner_player_id',
       'doubles_winner_1_name', 'doubles_winner_1_url',
       'doubles_winner_1_player_slug', 'doubles_winner_1_player_id',
       'doubles_winner_2_name', 'doubles_winner_2_url',
       'doubles_winner_2_player_slug', 'doubles_winner_2_player_id',
       'tourney_slug', 'match_stats_url_suffix_y', 'match_time',
       'match_duration', 'winner_slug_y', 'winner_serve_rating',
       'winner_aces', 'winner_double_faults', 'winner_first_serves_in',
       'winner_first_serves_total', 'winner_first_serve_points_won',
       'winner_first_serve_points_total',
       'winner_second_serve_points_won',
       'winner_second_serve_points_total', 'winner_break_points_saved',
       'winner_break_points_serve_total', 'winner_service_games_played',
       'winner_return_rating', 'winner_first_serve_return_won',
       'winner_first_serve_return_total',
       'winner_second_serve_return_won',
       'winner_second_serve_return_total',
       'winner_break_points_converted',
       'winner_break_points_return_total', 'winner_return_games_played',
       'winner_service_points_won', 'winner_service_points_total',
       'winner_return_points_won', 'winner_return_points_total',
       'winner_total_points_won', 'winner_total_points_total',
       'loser_slug_y', 'loser_serve_rating', 'loser_aces',
       'loser_double_faults', 'loser_first_serves_in',
       'loser_first_serves_total', 'loser_first_serve_points_won',
       'loser_first_serve_points_total', 'loser_second_serve_points_won',
       'loser_second_serve_points_total', 'loser_break_points_saved',
       'loser_break_points_serve_total', 'loser_service_games_played',
       'loser_return_rating', 'loser_first_serve_return_won',
       'loser_first_serve_return_total', 'loser_second_serve_return_won',
       'loser_second_serve_return_total', 'loser_break_points_converted',
       'loser_break_points_return_total', 'loser_return_games_played',
       'loser_service_points_won', 'loser_service_points_total',
       'loser_return_points_won', 'loser_return_points_total',
       'loser_total_points_won', 'loser_total_points_total', 'year1',
       'winner_player_slug', 'winner_first_name', 'winner_last_name',
       'winner_player_url', 'winner_flag_code', 'winner_residence',
       'winner_birthplace', 'winner_birthdate', 'winner_birth_year',
       'winner_birth_month', 'winner_birth_day', 'winner_turned_pro',
       'winner_weight_lbs', 'winner_weight_kg', 'winner_height_ft',
       'winner_height_inches', 'winner_height_cm', 'winner_handedness',
       'winner_backhand', 'loser_player_slug', 'loser_first_name',
       'loser_last_name', 'loser_player_url', 'loser_flag_code',
       'loser_residence', 'loser_birthplace', 'loser_birthdate',
       'loser_birth_year', 'loser_birth_month', 'loser_birth_day',
       'loser_turned_pro', 'loser_weight_lbs', 'loser_weight_kg',
       'loser_height_ft', 'loser_height_inches', 'loser_height_cm',
       'loser_handedness', 'loser_backhand'], dtype=object)

In [7]:
# Nettoyage du dataset

In [8]:
# 1Ã¨re liste de colonnes Ã  supprimer car rÃ©pÃ©titives ou sans informations 
col_to_drop_1 = ['ATP', 'Winner', 'Loser', 'CBW', 'CBL', 'GBW', 'GBL', 'IWW', 'IWL', 
                 'SBW', 'SBL', 'B&WW', 'B&WL', 'UBW', 'UBL', 'LBW', 'LBL', 'SJW', 'SJL',
                 'MaxW', 'MaxL', 'AvgW', 'AvgL', 'city', 'winner_family_name', 'loser_family_name', 'tourney_year_id',
                 'tourney_order_x', 'tourney_name_x', 'tourney_slug_x', 'tourney_url_suffix_x', 'start_year', 'start_month',
                 'start_day', 'end_year', 'end_month', 'end_day', 'match_index', 'tourney_round_name',
                 'round_order', 'match_order', 'winner_slug_x', 'loser_slug_x', 'winner_seed', 'loser_seed', 
                 'match_score_tiebreaks', 'match_id', 'match_stats_url_suffix_x', 'tourney_order_y',
                 'tourney_type', 'tourney_name_y', 'tourney_id', 'tourney_slug_y','tourney_location', 'tourney_date', 
                 'year', 'tourney_month', 'tourney_day', 'tourney_singles_draw', 'tourney_doubles_draw','tourney_conditions', 
                 'tourney_surface', 'tourney_fin_commit_raw', 'tourney_url_suffix_y', 'singles_winner_name', 
                 'singles_winner_url', 'singles_winner_player_slug', 'singles_winner_player_id', 'doubles_winner_1_name', 
                 'doubles_winner_1_url', 'doubles_winner_1_player_slug', 'doubles_winner_1_player_id',
                 'doubles_winner_2_name', 'doubles_winner_2_url', 'doubles_winner_2_player_slug', 'doubles_winner_2_player_id',
                 'tourney_slug', 'match_stats_url_suffix_y', 'match_time', 'year1', 'winner_player_slug', 'winner_first_name',
                 'winner_last_name', 'winner_player_url', 'winner_residence', 'winner_birth_year',
                 'winner_birth_month', 'winner_birth_day', 'winner_weight_lbs', 'winner_height_ft', 'winner_height_inches', 
                 'loser_player_slug', 'loser_first_name', 'loser_last_name', 'loser_player_url', 'loser_residence',
                 'loser_birth_year', 'loser_birth_month', 'loser_birth_day', 'loser_weight_lbs', 'loser_height_ft', 'loser_height_inches']

In [9]:
df = df.drop(col_to_drop_1, axis=1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46216 entries, 0 to 46215
Columns: 118 entries, Location to loser_backhand
dtypes: float64(77), int64(11), object(30)
memory usage: 41.6+ MB

In [11]:
# Comparaison des valeurs uniques pour le winner
print(len(df['winner_name'].unique())) # col to keep
print(len(df['winner_player_id'].unique())) # col to keep

818
818

In [12]:
# Comparaison des valeurs uniques pour le loser
print(len(df['loser_name'].unique())) # col to keep
print(len(df['loser_player_id'].unique())) # col to keep

1203
1202

In [13]:
# recherche et modification du loser_name ayant 2 id
loser_name = df.groupby('loser_player_id').agg({'loser_name':'unique'})
liste = []
for value in loser_name['loser_name']:
    if len(value) > 1:
        liste.append(value)
print(liste)

df['loser_name'] = df['loser_name'].replace(liste[0][1], liste[0][0])

[array(['Chun-hsin Tseng', 'Chun-Hsin Tseng'], dtype=object)]

In [14]:
print(len(df['loser_name'].unique())) # col to keep
print(len(df['loser_player_id'].unique())) # col to keep

1202
1202

In [15]:
# changement de type pour WRank et LRank + remplacement des nan par 0
df['WRank'] = df['WRank'].fillna(0).astype('int')

In [16]:
df['LRank'] = df['LRank'].fillna(0).replace('NR', 0).astype('float')

In [17]:
df['LRank'] = df['LRank'].astype('int')

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46216 entries, 0 to 46215
Columns: 118 entries, Location to loser_backhand
dtypes: float64(76), int32(2), int64(11), object(29)
memory usage: 41.3+ MB

In [19]:
df['Series'].value_counts()

ATP250                13238
Grand Slam             9045
International          6838
Masters 1000           6679
ATP500                 4701
Masters                3364
International Gold     2196
Masters Cup             155
Name: Series, dtype: int64

In [20]:
# suppression de 'winner_slug_y' et 'loser_slug_y'
df = df.drop(['winner_slug_y', 'loser_slug_y'], axis=1)

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46216 entries, 0 to 46215
Columns: 116 entries, Location to loser_backhand
dtypes: float64(76), int32(2), int64(11), object(27)
memory usage: 40.5+ MB

In [22]:
# comparaison prix et currency
df[['currency_x', 'prize_money', 'currency_y', 'tourney_fin_commit']]

      currency_x  prize_money currency_y  tourney_fin_commit
0            USD     332000.0        USD            347000.0
1            USD     332000.0        USD            347000.0
2            USD     332000.0        USD            347000.0
3            USD     332000.0        USD            347000.0
4            USD     332000.0        USD            347000.0
...          ...          ...        ...                 ...
46211        EUR    5415410.0        EUR           6008725.0
46212        EUR    5415410.0        EUR           6008725.0
46213        EUR    5415410.0        EUR           6008725.0
46214        EUR    5415410.0        EUR           6008725.0
46215        EUR    5415410.0        EUR           6008725.0

[46216 rows x 4 columns]

In [23]:
# suppression de 'currency_x' et 'prize_money'
df = df.drop(['currency_x', 'prize_money'], axis=1)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46216 entries, 0 to 46215
Columns: 114 entries, Location to loser_backhand
dtypes: float64(75), int32(2), int64(11), object(26)
memory usage: 39.8+ MB

In [25]:
df['Comment'].value_counts()

Completed    44543
Retired       1425
Walkover       245
Awarded          1
Sched            1
Rrtired          1
Name: Comment, dtype: int64

In [26]:
df.to_csv('Sources/final_dataset_firstclean.csv')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46216 entries, 0 to 46215
Columns: 114 entries, Location to loser_backhand
dtypes: float64(75), int32(2), int64(11), object(26)
memory usage: 39.8+ MB